
.kode-shortcode-hdg{
	float:left;
	width:100%;
	margin:0px 0 30px 0;
	line-height:16px;
}
.kode-shortcode-hdg h3{
	position:relative;
	display:inline-block;
	text-transform:uppercase;
	font-weight:bold;
	padding:0 0 20px 0;
	line-height:16px;
	color:#333333;
}
.kode-shortcode-hdg h3:before{
	content:"";
	left:0;
	bottom:-1px;
	width:90%;
	height:1px;
	background-color:#e1e1e1;
	position:absolute
}
/*
	  ==============================================================
		  HEADINGS CSS START
	  ==============================================================
*/
/*heading 1*/
.kode-food-hdg-1{
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	padding:2px;
	margin-bottom:43px;
}
.kode-food-hdg-1::before {
    border-color: #be951f transparent transparent;
    border-style: solid;
    border-width: 13px 10px 0 0;
    bottom: -13px;
    content: "";
    opacity: 1;
    position: absolute;
    right: 0;
    z-index: -1;
}
.kode-food-hdg-1::after {
    border-color: #be951f transparent transparent ;
    border-style: solid;
    border-width: 13px 0 0px 10px;
    bottom: -13px;
    content: "";
    opacity: 1;
    position: absolute;
    left: 0;
    z-index: -1;
}
.kode-food-hdg-1 h3{
	color:#fff;
	display:block;
	padding:6px 0 10px;
	border:1px solid rgba(225, 225, 225, 0.5);
	text-transform:capitalize;
}
/*heading 2*/
.kode-food-hdg-2{
	float:left;
	width:100%;
	position:relative;
	margin-bottom:40px;
}
.kode-food-hdg-2 h3{
	display:inline-block;
	padding:19px 30px 17px;
	text-align:center;
	border:1px solid #333333;
	position:relative;
	font-size:48px;
	text-transform:capitalize;
	border-bottom: none;
}
.kode-food-hdg-2 h3 span{
	background-color:transparent;
	font-size:20px;
	text-transform:uppercase;
	padding:0 40px;
	display:block;
	margin:0 auto;
	position:absolute;
	left:0;
	right:0;
	bottom:-6px;
	line-height:13px;
}
.kode-food-hdg-2 span::before {
    background:#333333;
    content: "";
    height: 1px;
    left: -1px;
    position: absolute;
    top: 50%;
    width: 31px;
}
.kode-food-hdg-2 span::after {
    background: #333333;
    content: "";
    height: 1px;
    right: -1px;
    position: absolute;
    top: 50%;
    width: 31px;
}
/*heading 3*/
.kode-food-hdg-3{
	float:left;
	width:100%;
	margin-bottom:30px;
}
.kode-food-hdg-3 h3{
	display:inline-block;
	font-size:40px;
	text-transform:capitalize;
	text-align: center;
	line-height:28px;
	padding-bottom:31px;
	position:relative;
	color:#fff;
}
.kode-food-hdg-3 h3 span{
	display:block;
	margin-top:11px;
}
.kode-food-hdg-3 h3:before{
	content:"";
	left:0;
	right:0;
	bottom:0;
	height:1px;
	width:73px;
	position:absolute;
	margin:0 auto;
}
/*heading 4*/
.kode-food-hdg-4{
	float:left;
	width:100%;
	margin-bottom:40px;
	text-align: center;
}
.kode-food-hdg-4 h3{
	display:inline-block;
	font-size:36px;
	text-transform:capitalize;
	text-align: center;
	margin:-5px 0 0;
	padding-bottom:16px;
	position:relative;
}
.kode-food-hdg-4 h3:before{
	content:"";
	left:0;
	right:0;
	bottom:6px;
	height:1px;
	width:99px;
	position:absolute;
	margin:0 auto;
}
.kode-food-hdg-4 h3:after{
	content:"";
	left:0;
	right:0;
	bottom:0px;
	height:1px;
	width:59px;
	position:absolute;
	margin:0 auto;
}
/*heading 5*/
.kode-food-hdg-5{
	float:left;
	width:100%;
	margin-bottom:30px;
}
.kode-food-hdg-5 h3{
	display:inline-block;
	font-size:30px;
	text-transform:capitalize;
	text-align: center;
	margin:-4px 0 0;
	padding-bottom:9px;
	position:relative;
}
.kode-food-hdg-5 h3:before{
	content:"";
	left:0;
	bottom:6px;
	height:1px;
	width:84px;
	position:absolute;
}
.kode-food-hdg-5 h3:after{
	content:"";
	left:0;
	bottom:0px;
	height:1px;
	width:34px;
	margin:0 auto;
	position:absolute;
}
/*heading 6*/
.kode-food-hdg-6{
	float:left;
	width:100%;
	margin-bottom:30px;
}
.kode-food-hdg-6 h3{
	display:inline-block;
	font-size:30px;
	text-transform:capitalize;
	text-align: center;
	margin:-7px 0 0;
	padding-bottom:16px;
	position:relative;
}
.kode-food-hdg-6 h3:before{
	content:"";
	left:0;
	bottom:6px;
	height:1px;
	width:78px;
	position:absolute;
}
.kode-food-hdg-6 h3:after{
	content:"";
	left:0;
	bottom:0px;
	height:1px;
	width:48px;
	position:absolute;
}
/*heading 7*/
.kode-food-hdg-7{
	float:left;
	width:100%;
	margin-bottom:30px;
}
.kode-food-hdg-7 h3{
	display:inline-block;
	font-size:30px;
	text-transform:capitalize;
	text-align: center;
	margin:-4px 0 0;
	padding-bottom:11px;
	position:relative;
}
.kode-food-hdg-7 h3:before{
	content:"";
	left:0;
	bottom:6px;
	height:1px;
	width:99px;
	position:absolute;
}
.kode-food-hdg-7 h3:after{
	content:"";
	left:0;
	bottom:0px;
	height:1px;
	width:59px;
	position:absolute;
}

/*
	  ==============================================================
		   SHORT CODE CSS START
	  ==============================================================
*/

/*social styles*/
.social-shortcode{
	float: left;
	width: 100%;
}
.social-shortcode .social-style-3{
	margin-bottom: 30px;
	text-align: left;
}
.social-shortcode .social-links{
	float: left;
	width: 100%;
}

/*social styles 3*/
.social-style-3 {
    display: block;
    float: none;
    text-align: center;
}
.social-style-3 li {
    display: inline-block;
    margin: 0 6px;
}
.social-style-3 li a {
    color: #fff;
    display: block;
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 33px;
    background-color: #333333;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.social-shortcode .social-style-3 > li a{
	color: #fff;
}
.social-shortcode .social-style-3 > li a:hover{
	color: #fff;
}
/*style 2*/
.style-2 {
    display: block;
    float: none;
    text-align: center;
}
.style-2 li {
    display: inline-block;
    margin: 0 6px;
}
.social-shortcode .social-style-3.style-2 li a {
    color: #828282;
    font-size: 17px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    width: 43px;
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid #828282;
}
.social-shortcode .social-style-3.style-2 li a:hover{
	background-color: #0070bb;
	color: #fff;
	border: 2px solid #0070bb;
}
/*social styles 3*/

.style-3 li a {
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    width: 27px;
}
/*social style 1 css*/
.social-style-1{
	float: left;
	padding: 5px 0 4px;
}
.social-style-1 li{
	display: inline-block;
	padding: 0 9px;
}
.social-style-1 li a{
	color: #6b727a;
	display: block;
	font-size: 16px;
	line-height: 16px;
}
/*social-style-2*/
.social-style-2{
	float: left;
	padding:10px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out; 
}
.social-style-2 li{
	display: table;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.social-style-2 li a{
	display: block;
	text-align: center;
	color: #666666;
	font-size: 18px; 
	width: 30px;
	height: 35px;
	line-height: 35px;
}
.social-shortcode .social-style-2 li a{
	color: #fff;
}
.social-style-2 li a:hover{
	color: #000;
}
/*style 4*/
.social-style-2.style-4{
	padding:0;
	background-color: transparent; 
}
.social-style-2 li a:hover{
	color: #000;
}
/*style 5*/
.social-style-2.style-5{
	padding:0;
	background-color: transparent; 
}
.social-style-2.style-5 li a{
	color: #666;
}
.social-shortcode .social-style-2{
	margin-right: 20px;
}
.social-shortcode .social-style-1{
	margin-bottom: 20px;
}
.social-shortcode .social-links{
	margin-bottom: 25px;
}
.social-shortcode .rating{
	float: left;
	margin-left: 20px;
}
/*kode-button-style*/
.kode-button-style{
	float: left;
	width: 100%;
}
.kode-button-style button,
.kode-button-style a{
	margin-right: 30px;
	margin-bottom: 30px;
}
.kode-button-style .active{
	color: #fff;
}
.kode-button-style .popular-tag.active::before{
	border-color:transparent transparent transparent #be951f;
}
.kode-button-style .popular-tag.active{
	border-color: #000;
}
.kode-button-style .kode_link_3 {
    float: left;
    padding: 15px 25px 13px;
}
.shortcode-wrap .kode-food-hdg-4{
	text-align: left;
}
/*button*/
.kode_link_1 {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    padding: 23px 35px 22px;
    text-transform: uppercase;
    position: relative;
}
.kode_link_1 i{
	margin-left: 15px;
	line-height: 20px;
}
.kode_link_1:before{
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	border:1px solid rgba(225, 225, 225, 0.5);
	content: "";
}
.kode_link_1:hover{
	background-color: #000;
	color: #fff;
}
/*kode_link_2*/
.kode_link_2{
	display: inline-block;
	border: 1px solid;
	text-transform: capitalize;
	color: #333333;
	line-height: 16px;
	padding: 9px 25px 7px;
	font-size: 16px;
	background: transparent;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.kode_link_2:hover{
	color: #fff;
}
/*kode link 3*/
.kode_link_3 {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    padding: 23px 40px 20px;
    text-transform: capitalize;
    font-family: 'Lusitana', serif;
    font-weight: bold;
}

.kode_link_3:hover{
	background-color: #000;
	color: #fff;
}
/*kode link 4*/
.kode_link_4{
	position: relative;
	display: inline-block;
	color: #333;
	font-size: 16px;
	line-height: 16px;
	border:1px solid; 
	overflow: hidden;
	padding: 14px 53px 12px 15px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.kode_link_4::before {
    color: #fff;
    content: "";
    height: 100%;
    width: 40px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.kode_link_4 i {
    color: #fff;
    font-size: 16px;
    height: 100%;
    position: absolute;
    right: 16px;
    line-height: 16px;
    top: 50%;
    margin-top: -9px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.gallery2 .kode_link_4:hover i,
.kode-about-us-wrap .kode_link_4:hover i{
	color:#be951f;	
}
.kode_link_4:hover::before{
	background-color: #fff;
}
.kode_link_4:hover {
	color: #fff;
}
/*KODE LINK 5*/
.kode_link_5{
	display: inline-block;
	border:1px solid #d0d0d0;
	font-size: 16px;
	line-height: 16px;
	padding: 14px 15px 12px;
	color: #333333;
	text-transform: capitalize;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.kode_link_5:hover{
	color: #fff;
}
/*KODE LINK 6*/
.kode_link_6{
	display: inline-block;
	border:2px solid #89898a;
	font-size: 18px;
	line-height: 18px;
	padding: 18px 20px 17px;
	color: #333333;
	text-transform: capitalize; 
	font-weight: bold;
}
.kode_link_6:hover{
	color: #fff;
}
/*search button*/
.search-icon-button {
    color: #fff;
    display: inline-block;
    font-size: 21px;
    height: 50px;
    line-height: 56px;
    outline: 1px solid rgba(225, 225, 225, 0.5);
    outline-offset: -3px;
    text-align: center;
    width: 63px;
}
.search-icon-button:hover{
	outline: 1px solid rgba(225, 225, 225, 0.5);
	outline-offset: -3px;
	color: #fff;
}
/*comment reply btn*/
.comment_reply {
	border:1px solid;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    padding: 4px 25px 5px;
}
.comment_reply:hover{
	color: #fff;
}
/*submit button*/
.submit-btn{
	display: inline-block;
	font-size: 16px;
	font-family: 'Lusitana', serif;;
	line-height: 16px;
	color: #fff;
	text-transform: capitalize;
	padding:11px 35px 9px;
}
.submit-btn:hover{
	background-color:#000; 
}
/*blockquote 1*/
.blockquote-1{
	 padding: 39px 30px 42px;
	 background-color: #f3f3f3;
	 text-align: center;
	 position: relative;
	 margin-bottom: 60px;
	 float: left;
}
.blockquote-1:before{
	position: absolute;
	top: 31px;
	left: 20px;
	color: #000000;
	opacity: 0.05;
	font-size: 50px;
	content: "ï„";
	font-family: FontAwesome;
}
/*blockquote 2*/
.blockquote-2{
	float: left;
	width: 100%;
	padding: 24px 30px 23px;
	background-color: #f3f3f3;
}
.blockquote-2 p{
	margin: 0;
	font-size: 18px;
	position: relative;
	display: inline-block;
}
.blockquote-2 p i{
	margin-right: 5px;
	color: #666666;
}
/*blockquote 4*/
.blockquote-4{
	float: left;
	width: 100%;
	margin-bottom: 66px;
}
.blockquote-4 figure{
	float: left;
	width: 132px;
}
.blockquote-4 .text{
	float: none;
	overflow: hidden;
	padding:11px 0 10px 20px;
	text-align: left;
	width: auto;
}
.blockquote-4 .text h4{
	text-transform: capitalize;
	margin-bottom: 8px;
	font-size: 22px;
	display: block;
}
.blockquote-4 p{
	margin-bottom: 0;
}
/*short code page*/
.kode-hdg-style{
	float:left;
	width:100%;
}
.kode-hdg-style h1,
.kode-hdg-style h2,
.kode-hdg-style h3,
.kode-hdg-style h4,
.kode-hdg-style h5{
	display:block;
	text-transform:uppercase;
	margin-bottom:30px;
}
.kode-hdg-style h1{
	line-height:25px;
}
.kode-hdg-style h2{
	line-height:20px;
}
.kode-hdg-style h3{
	line-height:16px;
}
.kode-hdg-style h4{
	line-height:13px;
}
.kode-hdg-style h5{
	line-height:11px;
}


/*peraghraph*/
.kode_shortcode_para{
	float:left;
	width:100%;
	text-align:left;
	padding-right:95px;
}
.kode_shortcode_para p:first-child{
	text-align:center;
	margin-top:-6px;
}
.kode_shortcode_para p{
	margin-bottom:18px;
	font-size:15px;
}
/*popular tag*/
.popular-tag {
    background-color: #e3e3e3;
    border-left: 2px solid #b4b3b3;
    color: #666666;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    margin-right: 17px;
    padding:9px 15px 7px;
    position: relative;
    text-transform: capitalize;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.popular-tag:hover{
	color: #fff;
	border-color: #000000;
}
.popular-tag:before{
	content: "";
	right: -17px;
	top: 0;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 0 17px 17px;
	border-color: transparent transparent transparent #e3e3e3;
}
.popular-tag::after {
    color: #fff;
    content: "\f111";
    font-family: FontAwesome;
    font-size: 8px;
    margin-top: -9px;
    position: absolute;
    right: -7px;
    top: 50%;
}

.popular-tag:hover:after{
	color: #fff;
}
.popular-tag:hover:before{
	border-width: 17px 0 17px 17px;
	border-color: transparent transparent transparent #be951f;
}
/*testimonial section*/
.search-btn-2{
	width: 35px;
	height: 35px;
	line-height: 32px;
	text-align: center;
	font-size: 16px;
	border: 2px solid;
	background-color: #fff;
	display: inline-block;
	z-index: 9999;
}
.search-btn-2 > i{
	margin:0!important;
	line-height: 31px; 
}
.send-button{
	float: left;
	text-align: center;
	background-color: #333333;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	padding: 18px 20px;
}
/*pagination*/
.kode-pagination{
	float: left;
	width: 100%;
	text-align: center;
	margin:30px 0px 0px 0px;
}
.kode-pagination .pagination{
	float:none;
	margin:0px;
}

.pagination li a{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #333333;
	font-family: 'Lusitana', serif;
	text-align: center;
	border: 1px solid #c4c4c4;
	margin-right: 10px;
	border-radius: 0;
	padding: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span,
.pagination > li:first-child > a, .pagination > li:first-child > span{
	border-radius: 0;
}
.pagination li.active a,
.pagination li.active a:hover,
.pagination li a:hover{
	color: #fff;
}

.shortcode-wrap .counterup-bg {
    float: left;
    padding: 120px 0;
    width: 100%;
}
/*******************************************************************
                   keyframes
*********************************************************************/

/*to bottom*/
@-webkit-keyframes toBottomFromTop {
    49% {
        -webkit-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toBottomFromTop {
    49% {
        -moz-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

/*to right*/


@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}


/* bounceY*/

@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);transition:all 1s ease-in-out;}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}


@-moz-keyframes bounceY {
    0% { -moz-transform: translateY(-205px);}
    40% { -moz-transform: translateY(-100px);}
    65% { -moz-transform: translateY(-52px);}
    82% { -moz-transform: translateY(-25px);}
    92% { -moz-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}


@-webkit-keyframes  bounceY {
    0% { -webkit-transform: translateY(-205px);}
    40% { -webkit-transform: translateY(-100px);}
    65% { -webkit-transform: translateY(-52px);}
    82% { -webkit-transform: translateY(-25px);}
    92% { -webkit-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
}