@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon1d74.eot?pb83ig');
    src:    url('fonts/icomoon1d74.eot?pb83ig#iefix') format('embedded-opentype'),
        url('fonts/icomoon1d74.ttf?pb83ig') format('truetype'),
        url('fonts/icomoon1d74.woff?pb83ig') format('woff'),
        url('fonts/icomoon1d74.svg?pb83ig#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\e900";
}
.icon-clock:before {
    content: "\e901";
}
.icon-clock-1:before {
    content: "\e902";
}
.icon-cross:before {
    content: "\e903";
}
.icon-drink:before {
    content: "\e904";
}
.icon-drink-1:before {
    content: "\e905";
}
.icon-favorite:before {
    content: "\e906";
}
.icon-food:before {
    content: "\e907";
}
.icon-food-1:before {
    content: "\e908";
}
.icon-food-2:before {
    content: "\e909";
}
.icon-food-3:before {
    content: "\e90a";
}
.icon-food-4:before {
    content: "\e90b";
}
.icon-food-5:before {
    content: "\e90c";
}
.icon-food-6:before {
    content: "\e90d";
}
.icon-food-7:before {
    content: "\e90e";
}
.icon-food-8:before {
    content: "\e90f";
}
.icon-food-9:before {
    content: "\e910";
}
.icon-food-10:before {
    content: "\e911";
}
.icon-food-11:before {
    content: "\e912";
}
.icon-food-12:before {
    content: "\e913";
}
.icon-food-13:before {
    content: "\e914";
}
.icon-hotel:before {
    content: "\e915";
}
.icon-icon-1202:before {
    content: "\e916";
}
.icon-icon-1638:before {
    content: "\e917";
}
.icon-icon-1652:before {
    content: "\e918";
}
.icon-icon-2409:before {
    content: "\e919";
}
.icon-icon-109580:before {
    content: "\e91a";
}
.icon-interface:before {
    content: "\e91b";
}
.icon-left:before {
    content: "\e91c";
}
.icon-shopping:before {
    content: "\e91d";
}
.icon-signs:before {
    content: "\e91e";
}
.icon-social-media:before {
    content: "\e91f";
}
.icon-symbol:before {
    content: "\e920";
}
.icon-technology:before {
    content: "\e921";
}
.icon-time:before {
    content: "\e922";
}
.icon-time-1:before {
    content: "\e923";
}
.icon-tool:before {
    content: "\e924";
}

